var/
lib/
parts/
include/
eggs/
develop-eggs/
downloads/
data/
etc/
bin/
openerp/
.installed.cfg
.idea
upgrade.py
atlassian-ide-plugin.xml
*~
*.ipynb
*.pyc
*.pyo
*.swo
*.swp
.DS_Store
.idea
.installed.cfg
.mr.developer.cfg
upgrade.log